POSTGRES_USER=kpcl_intranet
POSTGRES_PASSWORD=change_me
POSTGRES_DB=kpcl_intranet
DB_HOST=postgres
DB_PORT=5432
API_PORT=8080
FRONTEND_PORT=4173
DB_RETRY_ATTEMPTS=30
DB_RETRY_DELAY_MS=2000
SHUTDOWN_GRACE_MS=10000
